<% provide(:title, 'マイページ') %>
<h2>マイページ編集</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3 mypage-edit">
    <%= form_with model: @user, url: mypage_update_path(id: @user.id), method: :patch, local: true do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="register-box">
        <div class="login-logo">
        <% if @user.image? %>
          <%= image_tag(@user.image.url) %>
        <% else %>
          <%= image_tag("/images/icon1.jpg", size: "150x150") %>
        <% end %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <div class="user_column">
          <p class="column_title"><%= f.label :profile, '自己紹介' %></p>
          <p class="column_content"><%= f.text_area :profile, size: '20x10', class: 'form-control', placeholder: 'はじめまして！' %></p>
        </div>
        <p>------------------------------ 基本情報 --------------------------------</p>
      </div>
      <%= f.label :name, '名前' %>
      <%= f.text_field :name, class: 'form-control', required: true %><br>

      <%= f.label :age, '年齢' %>
      <%= f.number_field :age, class: 'form-control', required: true %><br>

      <%= f.label :area_kbn, '居住区' %>
      <%= f.select :area_kbn, ApplicationHelper::AREA_KBN, {include_blank: '選択してください'}, class: 'form-control', required: true %><br>

      <%= f.label :business_kbn, '職業' %>
      <%= f.select :business_kbn, ApplicationHelper::BUSINESS_KBN, {include_blank: '選択してください'}, class: 'form-control' %><br>

      <%= f.label :income_kbn, '年収' %>
      <%= f.select :income_kbn, ApplicationHelper::INCOME_KBN, {include_blank: '選択してください'}, class: 'form-control' %><br>

      <%= f.label :free_entry, '自由記入欄' %>
      <%= f.text_area :free_entry, size: '20x10', class: 'form-control', placeholder: '趣味、好きな本など' %>

      <div class="modal-footer" style="text-align: center">
        <%= link_to 'キャンセル', mypage_path, class: 'btn btn-default' %>
        <%= f.submit '更新', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>