<% provide(:title, '検索ページ') %>
<%# <h2>マッチング</h2> %>
<div class="row">
  <div class="col-md-6 col-md-offset-3", style="text-align:center">
    <%= link_to '年齢認証', new_card_path, class: 'btn btn-primary' %>
    <%= form_with url:'/search', method: :get, local: true do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
      <%= f.label :area_kbn, 'エリア' %>
      <%= f.select :area_kbn, ApplicationHelper::AREA_KBN, {include_blank: '選択してください'}, class: 'form-control' %>
      <%= f.submit 'マッチング', class: 'btn btn-primary btn-lg matching-btn', style: 'font-size:18px' %>
    <% end %>
  </div>
</div>

<!-- テーブル -->
<div class="alt-table-responsive">
  <table class="table"> 
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if pair_flg(@user.id, user.id) %>
              <%= image_tag(user.image.url, size: "100x100") %>
            <% else %>
              <%= image_tag("/images/icon1.jpg", size: "100x100") %>
            <% end %>
            &emsp;<%= link_to user.name, user_page_path(user), class: 'user_name' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>

<script>
  $(window).on('load',function(){
    OneSignal.push(function() {
        OneSignal.getUserId(function(userId) {
          console.log(userId);
        // $.ajax({
        //     url: "users/onesignal_set",
        //     type: "GET",
        //     data: {onesignal_id: userId,
        //     },
        //     dataType: "html",
        //     success: function(data) {
        //         console.log("success");
        //     },
        //     error: function(data) {
        //         console.log("error");
        //     },
        //     });   
        });
    }); 
  });
</script>