<% provide(:title, '検索ページ') %>
<%# <h2>マッチング</h2> %>
<div class="row">
  <div class="col-md-6 col-md-offset-3", style="text-align:center">
    <%= link_to '年齢認証', new_card_path, class: 'btn btn-primary' %>
    <%= form_with url:'/search', method: :get, local: true do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
      <%= f.label :area_kbn, 'エリア' %>
      <%= f.select :area_kbn, ApplicationHelper::AREA_KBN, {include_blank: '選択してください'}, class: 'form-control' %>
      <%= f.submit 'マッチング', class: 'btn btn-primary btn-lg matching-btn', style: 'font-size:18px' %>
    <% end %>
  </div>

  <!-- 初回ログイン時のみ表示 -->
  <div id="layer_board_area">
    <div class="layer_board_bg"></div>
    <div class="layer_board">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span id="close" value=<%= search_path %>>×</span></button>
            <h4 class="modal-title">年齢認証のご案内</h4>
          </div>
          <div class="modal-body">
            ご登録いただき、ありがとうございます。<br>
            このサービスでは年齢認証を推奨しています。<br>
            下記ボタンから年齢認証をお願いいたします。<br><br>
            また、マイページからも年齢認証が可能です。
          </div>
          <div class="modal-footer">
            <%= link_to '閉じる', search_path, class: 'btn btn-default' %>
            <%= link_to '年齢認証へ', new_card_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ここまで -->

  <!-- テーブル -->
  <div class="alt-table-responsive">
    <table class="table"> 
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if pair_flg(@user.id, user.id) %>
                <%= image_tag(user.image.url, size: "100x100") %>
              <% else %>
                <%= image_tag("/images/icon1.jpg", size: "100x100") %>
              <% end %>
              &emsp;<%= link_to user.name, user_page_path(user), class: 'user_name' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</div>

<script>
  $(window).on('load',function(){
    OneSignal.push(function() {
        OneSignal.getUserId(function(userId) {
          console.log(userId);
        });
    }); 
  });

  // ログイン後、モーダル表示
  $(function(){
	  $('#layer_board_area').layerBoard({alpha:0.5});
  })

  $('.close').click(function() {
    window.location.href = $('#close').val();
  });
</script>