<% provide(:title, 'ユーザーページ') %>
<h2><%= @to_user.name %>さんのユーザーページ</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3 mypage">
    <div class="register-box">
      <div class="login-logo">
        <!-- Todo：ペア成立しているときのみ、画像表示条件追加予定 -->
        <% if @to_user.image? %>
          <%= image_tag(@to_user.image.url) %>
        <% else %>
          <%= image_tag("/images/icon1.jpg", size: "150x150") %>
        <% end %>
      </div>
      <div class="event-button">
        <!-- Todo：4つのボタン、条件によって変化 -->
        <% if @room_status == 'first_msg' %>
          <p><%= link_to 'メッセージを送る', @first_msg_flag ? '' : first_msg_path(@to_user), class: 'btn btn-primary', disabled: @first_msg_flag ? true : false %></p>
        <% elsif @room_status == 'pair_apply' %>
          <p><%= link_to 'ペアリクエストを送る', '#', class: 'btn btn-primary', :data => {:toggle => "modal", :target => "#modal-apply"} %></p>
        <% elsif @room_status == 'pair_approval' %>
          <p><%= link_to 'ペアリクエストを承認する', '#', class: 'btn btn-primary', :data => {:toggle => "modal", :target => "#modal-approval"} %></p>
        <% elsif @room_status == 'unpair' %>
          <p><%= link_to 'ペア状態を解除する', '#', class: 'btn btn-default' %></p>
        <% else %>
          <p><%= link_to 'メッセージを送る', '#', class: 'btn btn-primary', disabled: true %></p>
        <% end %>
      </div>
      <div class="user_column">
        <p class="column_title">自己紹介</p>
        <p class="column_content"><%= @to_user.profile %></p>
      </div>
      <p>------------------------------ 基本情報 --------------------------------</p>
    </div>
    <%= render partial: 'user_info', locals: { user: @user } %>
  </div>

  <!-- モーダル：ペアリクエスト -->
  <div class="modal fade" id="modal-apply" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">ペアリクエスト</h4>
        </div>
        <div class="modal-body">
          <%= @to_user.name %>さんにペアリクエストを送りますか？
        </div>
        <div class="modal-footer">
          <%= form_with url: apply_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :encoded_id, :value => encode((@to_user.id).to_s) %>
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <%= submit_tag 'ペアリクエストを送る', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- モーダル：ペア承認 -->
  <div class="modal fade" id="modal-approval" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">ペア承認</h4>
        </div>
        <div class="modal-body">
          <%= @to_user.name %>さんからのペアリクエストを承認しますか？
        </div>
        <div class="modal-footer">
          <%= form_with url: approval_path, method: :post, local: true do |f| %>
            <%= f.hidden_field :encoded_id, :value => encode((@to_user.id).to_s) %>
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <%= submit_tag 'ペアリクエストを送る', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>