<% provide(:title, 'トークルーム') %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- ▼LINE風ここから -->
    <div class="line__container">
      <!-- タイトル -->
      <div class="line__title">
        <%= link_to @to_user.name, user_page_path(@to_user), class: 'talk_room' %>
        <%# <span>&emsp; %>
        &emsp;
        <%= link_to '#', :data => {:toggle => "modal", :target => "##{@to_user.id}"} do %>
          <%= image_tag("/images/taisyutu.png", size: "50x50") %>
        <% end %>
        <%# </span> %>
      </div>

      <!-- ▼会話エリア scrollを外すと高さ固定解除 -->
      <div class="line__contents scroll">
        <% @events.each do |event| %>
          <% if event.from_user_id != @from_user.id %>
            <!-- 相手の吹き出し -->
            <div class="line__left">
              <figure>
                <% if pair_flg(@from_user.id, @to_user.id) %>
                  <%= image_tag(@to_user.image.url, size: "70x70") %>
                <% else %>
                  <%= image_tag("/images/icon1.jpg", size: "70x70") %>
                <% end %>
              </figure>
              <div class="line__left-text">
                <div class="name"><%= @to_user.name %></div>
                <div class="text"><%= event.data %></div>
              </div>
            </div>
          <% else %>
            <!-- 自分の吹き出し -->
            <div class="line__right">
              <div class="text"><%= event.data %></div>
              <span class="date">既読<br><%= time_format(event.created_at) %></span>
            </div>
          <% end %>
        <% end %>
      </div>
      <!--　▲会話エリア ここまで -->
      <div style="text-align: center;">
        <%= form_with model: @event, url: send_message_path(@to_user), method: :post, local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :data, size: '1x1', class: 'form-control' %>
          <%= f.submit '送信', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <!--　▲LINE風ここまで -->
  </div>

  <!-- モーダル・退出 -->
<div class="modal fade" id="<%= @to_user.id %>" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">退出</h4>
			</div>
			<div class="modal-body">
				<%= @to_user.name %>さんとのトークルームを退出しますか？
			</div>
			<div class="modal-footer">
        <%= form_with url: exit_path, method: :post, local: true do |f| %>
          <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
          <%= f.hidden_field :encoded_id, :value => encode((@to_user.id).to_s) %>
				  <%= submit_tag "退出する", class: "btn btn-primary" %>
        <% end %>
			</div>
		</div>
	</div>
</div>
</div>