<% provide(:title, 'トークルーム') %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <!-- ここから -->
    <div class="line__container">
      <!-- タイトル -->
      <div class="line__title">
        <%= link_to @to_user.name, user_page_path(@to_user), class: 'talk_room' %>
        <%# <span>&emsp; %>
        &emsp;
        <%= link_to '#', :data => {:toggle => "modal", :target => "##{@to_user.id}"} do %>
          <%= image_tag("/images/taisyutu.png", size: "50x50") %>
        <% end %>
        <%# </span> %>
      </div>

      <!-- ▼会話エリア scrollを外すと高さ固定解除 -->
      <div class="line__contents scroll" id="line__contents">
        <% @events.each do |event| %>
        <div class="events" data-id=<%= event.id %>>
          <% if event.from_user_id != @from_user.id %>
            <!-- 相手の吹き出し -->
            <div class="line__left">
              <figure>
                <% if pair_flg(@from_user.id, @to_user.id) %>
                  <%= image_tag(@to_user.image.url) %>
                <% else %>
                  <%= image_tag("/images/icon1.jpg") %>
                <% end %>
              </figure>
              <div class="line__left-text">
                <div class="name"><%= @to_user.name %></div>
                <div class="text"><%= event.data %></div>
              </div>
            </div>
          <% else %>
            <!-- 自分の吹き出し -->
            <div class="line__right">
              <div class="text"><%= event.data %></div>
              <span class="date"><%= '既読' if read_flg(event.read_flg) %><br><%= time_format(event.created_at) %></span>
            </div>
            <!-- 自分のスタンプ -->
            <%# <div class="line__right">
              <div class="stamp"><img src="/images/22.png" /></div>
              <span class="date">既読<br>0:30</span>
            </div> %>
          <% end %>
        </div>
        <% end %>
      </div>
      <!--　▲会話エリア ここまで -->
      <div style="text-align: center;">
        <%= form_with model: @event, url: send_message_path(@to_user), method: :post, local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :data, size: '1x1', class: 'form-control', wrap: 'hard' %>
          <%= f.submit '送信', class: 'btn btn-primary', id: 'b-submit' %>
        <% end %>
      </div>
    </div>
    <!-- ここまで -->
  </div>

  <!-- モーダル・退出 -->
  <div class="modal fade" id="<%= @to_user.id %>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
          <h4 class="modal-title">退出</h4>
        </div>
        <div class="modal-body">
          <%= @to_user.name %>さんとのトークルームを退出しますか？
        </div>
        <div class="modal-footer">
          <%= form_with url: exit_path, method: :post, local: true do |f| %>
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <%= f.hidden_field :encoded_id, :value => encode((@to_user.id).to_s) %>
            <%= submit_tag "退出する", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // 自動で新しいコメントが来たら下へスクロール
　// 自動でページがロードされたら一番下までスクロール
  var obj = document.getElementById('line__contents');
  obj.scrollTop = obj.scrollHeight;

  $(function() {

    // function buildMESSAGE(event) {
    //   if (gon.current_user_id == event.from_user_id) {
    //     var events = $('.line__contents')
    //     .append('<div class="events" data-id='+event.id+'>'+'<div class="line__right">'+'<div class="text">' + event.data + '</div>' + '</div>' + '</div>');
    //     console.log(events);
    //   } else {
    //     var events = $('.line__contents')
    //     .append('<div class="events" data-id='+event.id+'>'+'<div class="line__left">'+'<div class="text">' + event.data + '</div>' + '</div>' + '</div>');
    //     console.log(events);
    //   }
    // }

    function buildHTML(event) {
      var data = event.data ? `${event.data}` : '';
      var to_user_image = gon.pair_flg ? `${gon.to_user_image}` : '/images/icon1.jpg';
      var read = event.read_flg ? '既読' : '';
      var to_user_name = gon.to_user_name;
      var from_or_to_user = (gon.current_user_id == event.from_user_id) ? true : false;
      var format_time = moment(event.created_at).format('HH:mm');
      if (from_or_to_user == true) {
        var html = `<div class="events" data-id="${event.id}">
                      <div class="line__right">
                        <div class="text">${data}</div>
                        <span class="date">
                          ${read}<br>
                          ${format_time}
                        </span>
                      </div>
                    </div>`
      } else {
        var html = `<div class="events" data-id="${event.id}">
                      <div class="line__left">
                        <figure>
                          <img src="${to_user_image}">
                        </figure>
                        <div class="line__left-text">
                          <div class="name">${to_user_name}</div>
                          <div class="text">${data}</div>
                        </div>
                      </div>
                    </div>`
      }
      return html;
    }

    $(function() {
      setInterval(update, 5000);
    });

    function update() {
      var event_id = $('.events:last').data('id');
      console.log(event_id);
      $.ajax({
        url: location.href,
        type: 'GET',
        data: {
          event: {id: event_id}
        },
        dataType: 'json'
      })
      .always(function(data) {
        var insertHTML = ''
        $.each(data, function(i, data) {
          console.log(data);
          insertHTML = buildHTML(data);
          $('.line__contents').append(insertHTML);
        })
      })
    }
  });
</script>