<% provide(:title, 'トークルーム') %>
<h2>from_userが<%= @from_user.name %>、to_userが<%= @to_user.name %>のトークルームページ</h2>
<div class="row">
  <div class="col-md-10 col-md-offset-1 mypage-edit">
    <div class="register-box">
      <div class="login-logo">
        <div class="talk-image">
          <!-- Todo：ペア状態でのみ画像表示 -->
          <% if @to_user.image? %>
            <%= image_tag(@to_user.image.url, size: "70x70") %>
          <% else %>
            <%= image_tag("/images/icon1.jpg", size: "70x70") %>
          <% end %>
          <span class="p-talk-msg">&emsp;<%= @to_user.name %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1 mypage-edit">
    <div style="width:900px;height:500px;overflow:auto;">
      <% @events.each do |event| %>
        <%= event.data %><br>
      <% end %>
    </div>
    <%= form_with model: @event, url: send_message_path(@to_user), method: :post, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :data, size: '1x1', class: 'form-control' %>
      <%= f.submit '送信', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>