<%# <div id="page"> %>
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Air<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<%# <li class="active"><a href="index.html">Home</a></li> %>
              <% if current_user %>
              <li class="active"><%= link_to 'ホーム', search_path %></li>
              <li><%= link_to 'マイページ', mypage_path %></li>
              <% else %>
              <li class="active"><%= link_to 'ホーム', root_path %></li>
              <% end %>
							<li class="has-dropdown">
								<%= link_to 'トークルーム一覧', '#' %>
							</li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
              <% if current_user %>
              <li class="btn-cta">
                <%= link_to logout_path, method: :delete do %>
                  <span>ログアウト</span>
                <% end %>
              </li>
              <% else %>
              <button class="btn btn-primary btn-demo" data-toggle="modal" data-target="#sampleModal"></i> ログイン</button>
              <% end %>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>