<%# <div id="page"> %>
	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">A<span></span>i<span></span>r<span>.</span></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<%# <li class="active"><a href="index.html">Home</a></li> %>
              <% if current_user %>
                <li class="header-menu active" id="home"><%= link_to 'ホーム', search_path %></li>
                <li class="header-menu" id="mypage"><%= link_to 'マイページ', mypage_path %></li>
              <% else %>
                <li class="header-menu active" id="home"><%= link_to 'ホーム', root_path %></li>
              <% end %>
              <% if login_flg() %>
                <li class="header-menu" id="index">
                  <%= link_to 'トークルーム一覧', room_index_path %>
                </li>
                <li class="header-menu" id="pair">
                  <%= link_to 'ペア情報', pair_info_path %>
                </li>
              <% end %>
              <% if current_user %>
                <li class="btn-cta">
                  <%= link_to logout_path, method: :delete do %>
                    <span>ログアウト</span>
                  <% end %>
                </li>
              <% else %>
                <button class="btn btn-primary btn-demo" data-toggle="modal" data-target="#sampleModal"></i> ログイン</button>
              <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>

  <script>
  $(function() {
    // $('li > a').click(function() {
    //   $('li').removeClass('active');
    //   $(this).parent().addClass('active');
    // });
    $("li").click(
      function(event) {
        $('li').removeClass('active');
        $(this).addClass('active');
        event.preventDefault()
      }
);

  });
  // $(document).on('turbolinks:load', function() {
  //   // $('.header-menu').on('click',function(){
  //   //   $('.header-menu').removeClass('active');
  //   //   $('#mypage').addClass('active');
  //   // });

  //   $(function() {
  //     $('.header-menu').click(function() {
  //       $('.active').removeClass('active');
  //       $(this).addClass('active');
  //     });
  //   });
  // });
  </script>